{% extends 'base.html' %}


{% block javascript %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <script>
    var DELAY = 500,
        clicks = 0,
        timer = null;

    $(function(){
      $(".button-clickable")
      .on("click", function(e){
        // get cell ID
        var pid = $(this).parent().attr("id");
        var data = {'pid': pid};

        clicks++;  //count clicks
        timer = setTimeout(function() {
          if(clicks === 1) {
            $.post( "display/toggle_mask",
                    {pid: pid},
                    function() {
                      window.location.reload();
                    }
            );
          } else if(clicks === 2) {
            $.post( "display/notes",
                    {pid: pid},
                    function(result) {
                      alert(result);
                    }
            );
          };

        clearTimeout(timer);
        clicks = 0;  //after action performed, reset counter
        }, DELAY);
      })
      .on("dblclick", function(e){
          e.preventDefault();  //cancel system double-click event
      });
    });
    

  </script>
{% endblock %}


{% block header %}
  <h1>{% block title %}Table Schema{% endblock %}</h1>
{% endblock %}



{% block config %}
  <div class="row">
	  <div class="column"><p>{{ server|safe }}</p></div>
	  <div class="column"><p>{{ database|safe }}</p></div>
	  <div class="column"><p>{{ table|safe }}</p></div>
  </div>

  <form method="post">
    <div>
      <label for="server">Server</label>
      <input name="server" id="server" value="{{ server|safe }}" required>
      <label for="database">Database</label>
      <input type="database" name="database" id="database" value="{{ database|safe }}" required>
      <label for="table">Table</label>
      <input type="table" name="table" id="table" value="{{ table|safe }}" required>
      <input type="submit" value="Retrieve Schema">
    </div>
  </form>
{% endblock %}

{% block content %}
  {{ html|safe }}
{% endblock %}