{% extends 'base.html' %}


{% block javascript %}

  <script>

    function ParseResponse(resp){
      var obj = JSON.parse(resp);
      console.log(obj);

      return obj;
    }


    $(function(){
      $('#edit-modal').on('show.bs.modal', function(e) {
        var button = $(e.relatedTarget) // Button that triggered the modal
        var pid = $(e.relatedTarget).parent().attr('id');

        modal = $(this);

        
        $.post( "display/notes", {pid: pid})
          .then( function(result) {  ParseResponse(result)  })
          .then( function(result) {  $(modal).find('.modal-title').html('Title') });

      });
    })



    var DELAY = 500,
        clicks = 0,
        timer = null;

    $(function(){
      $(".button-clickable")
      .on("click", function(e){

        // get cell ID
        var pid = $(this).parent().attr("id");
        var data = {'pid': pid};

        clicks++;  //count clicks
        timer = setTimeout(function() {
          if(clicks === 1) {
            $.post( "display/toggle_mask",
                    {pid: pid},
                    function() {
                      window.location.reload();
                    }
            );
          } else if(clicks === 2) {
            $.post( "display/notes",
                    {pid: pid},
                    function(result) {
                      alert(result);
                    }
            );
          };

        clearTimeout(timer);
        clicks = 0;  //after action performed, reset counter
        }, DELAY);
      })
      .on("dblclick", function(e){
          e.preventDefault();  //cancel system double-click event
      });
    });
    

  </script>
{% endblock %}


{% block header %}
  <h1>{% block title %}Table Schema{% endblock %}</h1>
{% endblock %}



{% block config %}

  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#edit-modal">Open Modal</button>

  <!-- Modal -->
  <div id="edit-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              </div>
              <div class="modal-body edit-content">
                  ...
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button>
              </div>
          </div>
      </div>
  </div>


  <div class="row">
	  <div class="column"><p>{{ server|safe }}</p></div>
	  <div class="column"><p>{{ database|safe }}</p></div>
	  <div class="column"><p>{{ table|safe }}</p></div>
  </div>

  <form method="post">
    <div>
      <label for="server">Server</label>
      <input name="server" id="server" value="{{ server|safe }}" required>
      <label for="database">Database</label>
      <input type="database" name="database" id="database" value="{{ database|safe }}" required>
      <label for="table">Table</label>
      <input type="table" name="table" id="table" value="{{ table|safe }}" required>
      <input type="submit" value="Retrieve Schema">
    </div>
  </form>
{% endblock %}

{% block content %}
  {{ html|safe }}
{% endblock %}