{% extends 'base.html' %}


{% block javascript %}

  <script>

    // called when modal is opened
    $(function(){
      $('#edit-modal').on('show.bs.modal', function(e) {
        var button = $(e.relatedTarget) // Button that triggered the modal
        var pid = $(e.relatedTarget).parent().attr('id');

        modal = $(this);

        // this should be a GET request
        $.post( "display/retrieveData", {pid: pid})
          .then( function(result) {  return SetModal(result, modal)  })
          //.then( function(result) {  ReplaceModal(modal); /*$(modal).find('.modal-title').html('Title')*/ });

      });
    })


    // sets modal using API response
    function SetModal(resp, modal){
      var obj = JSON.parse(resp);
      
      // construct title
      var client = obj['Client']
      $(modal).find('.modal-title').html(client);

      // construct body
      var column = obj['Column']
      var masked = obj['Mask']
      $(modal).find('.modal-columnname').html(column);

      var notes = 'Notes : '.concat(obj['Notes'])
      $(modal).find('.modal-notes').html(notes);


      // set notes field
      var notes = obj['Notes']
      if(notes) {
        $("input[name=notes]").attr('value', notes);
      }


      // set mask radio button
      var mask = obj['Mask']

      console.log(mask);
      if(mask == 1) {
        $("input[name=mask-radio][value=mask]").attr('checked', true);
      } else {
        $("input[name=mask-radio][value=unmask]").attr('checked', true);
      }

      $(modal).find('.modal-mask').html(mask);


      // set indices in modal div
      var indices = obj['Indices']
      $(modal).attr('indices', indices);

      return obj;
    }


    // submits modal values to API
    function SubmitChanges(){
      
      // get indices
      var indices = $('#edit-modal').attr('indices');

      // interpret mask value
      var value = $('input[name=mask-radio]:checked').val();
      var mask;
      if(value == 'mask'){
        mask = 1;
      } else {
        mask = 0;
      }

      // get notes
      notes = $("input[name=notes]").val();

      data = {'indices': indices,
              'notes': notes,
              'mask': mask}


      $.post( "display/sendData", data)
        .then( function(result) {  location.reload()  })
        //.then( function(result) {  ReplaceModal(modal); /*$(modal).find('.modal-title').html('Title')*/ });

      console.log(data);

    }

  </script>
{% endblock %}


{% block header %}
  <h1>{% block title %}Table Schema{% endblock %}</h1>
{% endblock %}



{% block config %}

  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#edit-modal">Open Modal</button>

  <!-- Modal -->
  <div id="edit-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" indices="">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <h4 class="modal-title" id="myModalLabel">Client</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              </div>
              <div class="modal-body edit-content">
                <b><p class="modal-columnname">Column Name</p></b>

                <div id="notes">
                  <p>Notes</p>
                  <input type="text" class="form-control" id="notes" name="notes" placeholder="Notes">
                </div>

                <div id="mask-select">
                  <label class="radio-inline"><input type="radio" name="mask-radio" value="mask">Masked</label>
                  <label class="radio-inline"><input type="radio" name="mask-radio" value="unmask">Unmasked</label>
                </div>

              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary" onclick="SubmitChanges()">Save changes</button>
              </div>
          </div>
      </div>
  </div>


  <div class="row">
	  <div class="column"><p>{{ server|safe }}</p></div>
	  <div class="column"><p>{{ database|safe }}</p></div>
	  <div class="column"><p>{{ table|safe }}</p></div>
  </div>

  <form method="post">
    <div>
      <label for="server">Server</label>
      <input name="server" id="server" value="{{ server|safe }}" required>
      <label for="database">Database</label>
      <input type="database" name="database" id="database" value="{{ database|safe }}" required>
      <label for="table">Table</label>
      <input type="table" name="table" id="table" value="{{ table|safe }}" required>
      <input type="submit" value="Retrieve Schema">
    </div>
  </form>
{% endblock %}

{% block content %}
  {{ html|safe }}
{% endblock %}