{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Table Selection{% endblock %}</h1>
{% endblock %}


{% block config %}
  <form method="post">
    <div>
      <label for="server">Server</label>
      <input name="server" id="server" value="{{ server|safe }}" required>
      <label for="database">Database</label>
      <input type="database" name="database" id="database" value="{{ database|safe }}" required>
      <label for="table">Table</label>
      <input type="table" name="table" id="table" value="{{ table|safe }}" required>
      <input type="submit" value="Retrieve Schema">
    </div>
  </form>
{% endblock %}


{% block content %}
  {{ html|safe }}
{% endblock %}